{% extends 'base.html.twig' %}

{% block title %}Nos Recettes{% endblock %}

{% block body %}
    <h1>Nos Recettes </h1>
       
           
    <div class="container">
      

                <div class="row">
                 {% for recette in recettes %}
                   <div class="card col-3 recettes">
             <h3 class="card-header">{{recette.nomRecette}}</h3>
                     <div class=" d-flex align-items-center">
                         <div class="card-img-top imageRecette "><img src="/{{recette.image}}" alt="photo de {{recette.nomRecette}}"></div>
                         
                     </div>

                    <div class="col-12">
                        <div class="card-body">
                            <p>{{ recette.descriptionRecette|slice(0,160) }} ...</p>
                        </div>
                    </div>
                

                <div class="card-footer">

                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                       

                {# 
                {% if is_granted("ROLE_USER") %}
                    {% for recette in recettes %}
                        {% if favori.id == user.id %}
                           <i class="fas fa-heart"></i>
                        {% else %}
                            <a href="{{path('favori_ajout', {id:recette.id})}}">
                                <i class="far fa-heart"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{path('favori_ajout', {id:recette.id})}}">
                                <i class="far fa-heart"></i>
                            </a>          
                    {% endfor %}
                {% else %}
                    <i class="far fa-heart"></i>
                {% endif %}
                #}
                 {% if is_granted("ROLE_USER") %}
                    <a href="{{path('favori_ajout', {id:recette.id})}}">
                                <i class="fas fa-heart"></i>
                            </a> 
                 {% endif %}
                

                    <a href="{{ path('recette_show', {'id': recette.id}) }}">
                     Consulter
                </a></button>
                {% if is_granted("ROLE_ADMIN") %}
      {# si Admin est connecté, on lui affiche ce qui suit! #}

                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('recette_edit', {'id': recette.id}) }}">
                    Modifier
                </a></button>


                {% endif %}

                </div>

                <small class="text-muted">{{recette.zoneGeo.nom}}</small>
                </div>
                </div>
                </div>
                </div>
    
        </div>
    </div>
           
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
         {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('recette_new') }}">Créer une nouvelle recette</a>
         {% endif %}
{% endblock %}
