{% extends 'base.html.twig' %}

{% block title %}Nos Recettes{% endblock %}

{% block body %}
    <h1>Nos Recettes </h1>
       
           
    <div class="container">
      

                <div class="row">
                 {% for recette in recettes %}
                <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/{{recette.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{recette.nomRecette}}</h5>
    <p class="card-text">{{ recette.descriptionRecette|slice(0,160) }} ...</p>
    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                       

                {# 
                {% if is_granted("ROLE_USER") %}
                    {% for recette in recettes %}
                        {% if favori.id == user.id %}
                           <i class="fas fa-heart"></i>
                        {% else %}
                            <a href="{{path('favori_ajout', {id:recette.id})}}">
                                <i class="far fa-heart"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{path('favori_ajout', {id:recette.id})}}">
                                <i class="far fa-heart"></i>
                            </a>          
                    {% endfor %}
                {% else %}
                    <i class="far fa-heart"></i>
                {% endif %}
                #}
                

                    <a href="{{ path('recette_show', {'id': recette.id}) }}">
                     Consulter
                </a></button>
                {% if is_granted("ROLE_ADMIN") %}
      {# si Admin est connecté, on lui affiche ce qui suit! #}

                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('recette_edit', {'id': recette.id}) }}">
                    Modifier
                </a></button>

                 {% if is_granted("ROLE_USER") %}
                    <button> 
                        <a href="{{path('favori_ajout', {id:recette.id})}}">
                            <i class="fas fa-heart"></i>
                        </a> 
                    </button>
                 {% endif %}
                

                {% endif %}

                </div>
  </div>
</div>

           
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
         {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('recette_new') }}">Créer une nouvelle recette</a>
         {% endif %}
{% endblock %}
     