{% extends 'base.html.twig' %}

{% block title %}Nos Recettes{% endblock %}

{% block body %}
    <h1>Nos Recettes </h1>
       
           
    <div class="container">
      

                <div class="row">
                 {% for recette in recettes %}
                <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/{{recette.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{recette.nomRecette}}</h5>
    <p class="card-text">{{ recette.descriptionRecette|slice(0,160) }} ...</p>
    <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a href="{{ path('recette_show', {'id': recette.id}) }}">
                     Consulter
                </a></button>

                    <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ path('recette_edit', {'id': recette.id}) }}">
                    Modifier
                </a></button>
                </div>
  </div>
</div>

           
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
    <a href="{{ path('recette_new') }}">Créer une nouvelle recette</a>
{% endblock %}
     