{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
   <div class="container">
<div class="card-deck">

  <div class="card">
<<<<<<< Updated upstream
    <img src="https://www.wupisi.com/wp-content/uploads/2021/03/Plat_Kuskumas_avec_Sauce-1024x1024.jpg" alt="couscouma">
=======
    <img src="../{{recette.image}}" alt="photo de {{recette.nomRecette}}">
    <div class="card-footer">
      <small class="text-muted">>{{recette.zoneGeo.nom}}</small>
    </div>
>>>>>>> Stashed changes
    <div class="card-body">
      <h5 class="card-title">{{ recette.nomRecette }}</h5>
      <p class="card-text">{{ recette.descriptionRecette|slice(0,160) }} ...</p>
    </div>
    
     <table class="table">
        <thead>
            <tr>
                <th>Ingredient</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.ingredient.nomIngredient }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




  </div>
  </div>
</div>

          </div> 
      </div>  
    </div>
  </div>
  </div>
     
      <a href="{{ path('recette_new') }}">Créer une nouvelle recette</a>
{% endblock %}
