{% extends 'base.html.twig' %}

{% block title %}ZoneGeo index{% endblock %}

{% block body %}
    <h1>ZoneGeo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zone_geo in zone_geos %}
            <tr>
                <td>{{ zone_geo.id }}</td>
                <td>{{ zone_geo.nom }}</td>
                <td>
                    <a href="{{ path('zone_geo_show', {'id': zone_geo.id}) }}">show</a>
                    <a href="{{ path('zone_geo_edit', {'id': zone_geo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('zone_geo_new') }}">Create new</a>
{% endblock %}
