{% extends 'base.html.twig' %}

{% block title %}ZoneGeo{% endblock %}

{% block body %}
    <h1>ZoneGeo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ zone_geo.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zone_geo.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('zone_geo_index') }}">back to list</a>

    <a href="{{ path('zone_geo_edit', {'id': zone_geo.id}) }}">edit</a>

    {{ include('zone_geo/_delete_form.html.twig') }}
{% endblock %}
