{% extends 'base.html.twig' %}

{% block title %}Zone géo {{ zone_geo.nom }} {% endblock %}

{% block body %}
<div class="m-4">

    <h1 class="my-4">Zone : {{ zone_geo.nom }}</h1>

    <table class="table table-striped my-4">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ zone_geo.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zone_geo.nom }}</td>
            </tr>
            <tr>
                <th>Modifier</th>
                <td>
                    <a href="{{ path('zone_geo_edit', {'id': zone_geo.id}) }}"class="redirection_link"><i class="far fa-edit"></i>    Modifier</a>
                </td>
            </tr>
            <tr>
                <th>Supprimer</th>
                <td>
                    {{ include('zone_geo/_delete_form.html.twig') }}
        </tbody>
                </td>
            </tr>
                
    </table>
</div>

    <a href="{{ path('zone_geo_index') }}" 
        class="btn col-3 shadow p-3 mb-5 bg-body rounded rounded-pill my-5">
        <i class="fas fa-angle-double-left"></i>   Retour à la liste des zones
    </a>

{% endblock %}
